<div style="flex-direction: column; text-align: center;"><div style="display: inline-block">
    <p class="titulo" style="align-self: center;">Navigator</p>
    <p class="subtitulo" style="align-self: right;">Viaje de manera óptima</p>
</div></div>

<div class="d-flex justify-content-center my-3">
    <app-precio-combustible tipo_combustible='Diésel' precio_medio_actual='13,0' precio_medio_ayer='11,0' tendencia='sube'></app-precio-combustible>
    <app-precio-combustible tipo_combustible='Gasolina 95' precio_medio_actual='19,0' precio_medio_ayer='14,0' tendencia='sube'></app-precio-combustible>
    <app-precio-combustible tipo_combustible='Gasolina 98' precio_medio_actual='15,0' precio_medio_ayer='9,0' tendencia='baja'></app-precio-combustible>
</div>
