<div style="flex-direction: column; text-align: center;">
    <div style="display: inline-block">
        <p class="titulo" style="align-self: center;">Navigator</p>
        <p class="subtitulo" style="align-self: right;">Viaje de manera óptima</p>
    </div>
</div>
<div *ngFor="let combustible of combustibles">
    <div class="d-flex justify-content-center my-3">
        <app-precio-combustible tipo_combustible='{{combustible.tipo}}' precio_medio_actual='{{combustible.precio_hoy}}'
            precio_medio_ayer='{{combustible.precio_ayer}}' tendencia='{{combustible.tendencia}}'
            diferencia='{{combustible.diferencia}}'></app-precio-combustible>
    </div>
</div>