<div class="d-flex flex-wrap align-content-stretch" style="margin-left: 7%; margin-right: 7%; margin-top: 1%;">
    <div *ngFor="let historico of historicos">
        <div class="d-flex justify-content-center my-3">
            <app-historico-element carretera='{{historico.carretera}}' autonomia='{{historico.autonomia}}'
                causa='{{historico.causa}}' nivel='{{historico.nivel}}'
                tipo='{{historico.tipo}}'></app-historico-element>
        </div>
    </div>
</div>

<div *ngIf="historicos==undefined" class="d-flex flex-wrap align-content-stretch"
    style="margin-left: 7%; margin-right: 7%; margin-top: 1%;">
    <div class="d-flex justify-content-center my-3">
        <app-carretera carretera=' No hay elementos en el histórico'></app-carretera>
    </div>
</div>